/* reset css */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: rgb(0, 0, 0);
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --color-default: #000;
    --color-primary: #2b7dc0;
    --color-warning: #e23131;
    --color-success: #4db32e;
}

main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 50%), url(../asset/1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    max-width: 100%;
    height: 7.5rem;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: auto;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5rem;
}

.srch{
    font-family: 'Times New Roman';
    width: auto;
    height: 2.5rem;
    background: transparent;
    border: 0.1rem solid #ff7200;
    margin-top: 2rem;
    color: #fff;
    border-right: none;
    font-size: 1.6rem;
    float: left;
    padding: 1rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    
}

.btn{
    width: 10rem;
    height: 2.5rem;
    background: #ff7200;
    border: 0.1rem solid #ff7200;
    margin-top: 2rem;
    color: #fff;
    font-size: 1.6rem;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    max-width: 60rem;
    color: #fff;
    position: absolute;
    margin-left: 5rem;
    margin-top: 12.5rem;
}

.content .par{
    padding-left: 2.7rem;
    padding-bottom: 1.563rem;
    font-family: Arial;
    letter-spacing: 0.1rem;
    line-height: 1.875rem;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 5rem;
    padding-left: 2rem;
}

.content .cn{
    width: 160px;
    height: 2.5rem;
    background: #ff7200;
    border: none;
    margin-bottom: 0.6rem;
    margin-left: 2.7rem;
    font-size: 1.3rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 5rem;
}

.form{
    width: auto;
    height: auto;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 50%,rgba(0,0,0,0.8) 50%);
    position: inherit;
    float: right;
    margin-right: 6rem;
    margin-top: 13rem;
    transform: translate(0%,-5%);
    border-radius: 0.1rem;
    padding: 1.5rem;
}

.form h1{
    width: 25rem;
    font-family: sans-serif;
    text-align: center;
    color: #bd8454;
    font-size: 2rem;
    background-color: #fff;
    border-radius: 0.6rem;
    margin: 0.1rem;
    padding: 0.8rem;
}

.form input{
    width: auto;
    height: 2rem;
    background: transparent;
    border-bottom: 0.1rem solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    margin-top: 3rem;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btn_connect{
    width: auto;
    height: 4rem;
    background: #ff7200;
    border: none;
    margin-top: 2rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btn_connect:hover{
    background: #fff;
    color: #ff7200;
}
.btn_connect a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding-top: 2rem;
    text-align: center;
    color: #fff;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 1.1rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 3rem;
    padding-left: 0.8rem;
    padding-top: 0.3rem;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}

footer{
    background-color: #000;
    width: 100%;
    color: #fff;
}

@media screen and (min-width:60rem){
    
    body{
        width: 100%;
    }

    .menu{
        float: left;
        display: flex;
        flex-direction: column;
    }

    .form{
        display: flex;
        flex-direction: column;
    }
    
    
}